@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
font-weight: 700;
}
 :root {
      --bg-color: #02012B;
      
    }
body{
    background-color: var(--bg-color);
    color: white;
}
#navbar{
    display: flex;
    width: 92vw;
    margin: 0px auto;
    height: 82px;    
    justify-content: space-between;
    align-items: center;
}
.swtbox{
    position: relative;
}
.swtbox img {
    position: absolute;
        position: absolute;
    top: 13px;
    left: 12px;
}
#swt{
    color: white;
    font-weight: 500;
    background-color: #25253F;
    width: 119px;
    height: 44px;
    border: none;
    border-radius: 9px;
    text-align: center;
    font-size: 14px;
}
#swt option{
    font-size: 14px;
    font-weight: 500;
}
#swt optgroup{
    font-size: 14px;
    font-weight: bold;
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 182px;
    padding: 12px;
    box-sizing: border-box;
}
#hero h1{
    font-size:39px;
    font-weight: 600;
}
#inpt_sec{
    display: flex;
    margin-top: 28px;
    position: relative;
}
#inpt_sec img{
    position: absolute;
    top: 14px;
    left: 17px;
}
#input{
    background-color: #25253F;
    border: none;
    padding: 10px 28px 10px 45px;
    width: 422px;
    height: 28px;
    font-weight: 500;
    font-size: 16px;
    border-radius:10px ;
}

#btn{
    width: 97px;
    height: 46px;
    font-size: 15.5px;
    font-weight: 500;
    color: white;
    border: none;
    background-color: #4657D9;
    border-radius: 10px;
    margin: 0px 15px;
}


main{
    border: 2px solid red;
    width: 92vw;
    margin: 0px auto;
    /* height: 500px;  */
    display: grid;
    grid-template-columns: 2fr 1fr;
}



.status{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px  20px;
    height: 210px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #25253F;
}
.extra{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 19px;
    margin: 20px 0px;
}
.extra_info{
    border-radius: 11px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: #25253F;
}


.forecast_days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 10px;
}
.day{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 13px;
    padding: 10px;
    height: 140px;
    justify-content: space-around;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: #25253F;

}
.min_max{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
 
.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
}
.boxes{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.box{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-radius: 8px;
    background-color: #25253F;

}
#head{
display: flex;
justify-content: space-between;
}
#img_box{
    display: flex;
}


@media only  screen and (max-width: 900px) {
    #main{ grid-template-columns: 1fr;}
}