@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
font-weight: 700;
}
 :root {
      --bg-color: #02012B;
      
    }
body{
    background-color: var(--bg-color);
    color: white;
}
#navbar{
    display: flex;
    width: 92vw;
    margin: 0px auto;
    height: 82px;    
    justify-content: space-between;
    align-items: center;
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100vw;
    height: 115px;
    padding: 12px;
    box-sizing: border-box;
}
#inpt_sec{
    display: flex;
    margin-top: 28px;
}

main{
    border: 2px solid red;
    width: 92vw;
    margin: 0px auto;
    /* height: 500px;  */
    display: grid;
    grid-template-columns: 2fr 1fr;
}



.status{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px  20px;
    height: 210px;
    border: 2px solid white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.extra{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 19px;
    margin: 20px 0px;
}
.extra_info{
    border: 2px solid white;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}


.forecast_days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 10px;
}
.day{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 120px;
    justify-content: space-around;
    border: 2px solid red;
    box-sizing: border-box;
    margin-top: 10px;
}
.min_max{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
 
.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border: 2px solid rgb(136, 255, 0);
    box-sizing: border-box;
    padding: 10px;
}
.boxes{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.box{
    display: flex;
    justify-content: space-between;
    height: 50px;
    border: 2px solid yellow;
    align-items: center;
}
#head{
display: flex;
justify-content: space-between;
}
#img_box{
    display: flex;
}


@media only  screen and (max-width: 900px) {
    #main{ grid-template-columns: 1fr;}
}